version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:16
    steps:
      - checkout

      - run:
          name: Install packages
          command: npm install
      - run:
          name: ifconfig
          command: ifconfig

  deploy:
    docker:
      - image: circleci/node:16

    working_directory: ~/my-express-app

    steps:
      - checkout

      - setup_remote_docker:
          version: 20.10.7

      - run:
          name: Install dependencies
          command: npm install

      - run:
          name: Build Docker image
          command: docker build -t my-express-app .

      - run:
          name: Run Docker container
          command: docker run -d -p 8080:8080 my-express-app
      - run:
          name: Run Docker ps
          command: docker ps
      - run:
          name: Run ifconfig
          command: ifconfig         
          
        
workflows:
  version: 2.1
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build          
